$c-main: #2f80ed;
$c-white: #fff;
$c-light-blue: #63ecdb;
$c-grey: #e5e5e5;
$c-dark-grey: #6f6f6f;
$box-shadow-card: 0 10px 16px rgba(79, 79, 79, 0.1);
$link-color: rgba(255, 255, 255, 0.5);

$button-width: 138px;
$button-height: 34px;
$button-width-svw: 100px;
$logo-width: 135px;
$logo-height: 25px;
$nav-width: 297px;
